* {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: aqua;
}

html, body {
    height: 80vh;
    padding: 1rem;
    box-sizing: border-box;
}

body {
    display: grid;
    grid-template-areas: 
        "header"
        "main"
        "footer";
    grid-template-rows: auto 1fr auto;
}

main {
    display: grid;
    grid-template-areas:
        "portfolio map";
    grid-template-columns: 1fr 1fr;
}

header { 
    grid-area: header;
}

main { 
    grid-area: main;
}

.portfolio {
    grid-area: portfolio;
}

#map { 
    grid-area: map;
    height: 80vh;
}

img {
    max-width: 300px;
}

.awesomePopup {
    background-color: #f8f9fa;
    color: #212529;
    font-size: 16px;
    padding: 10px;
}

#footer {
    grid-area: footer;
}

ol {
    padding-left: 30px;
}

.portfolio {
    grid-area: portfolio;
    display: flex; /* This will make the items inside the portfolio flex items */
    flex-direction: column; /* This can be row if you want the items to be side by side */
    justify-content: center; /* This can be flex-start, flex-end, space-between, space-around, space-evenly */
    align-items: center; /* This can be flex-start, flex-end, stretch, baseline */
}

#footer {
    grid-area: footer;
    padding: 1rem;
    background-color: #4677a0; /* Sets a darker background for contrast */
    color: #fff; /* Ensures text is readable against the dark background */
    text-align: center; /* Centers the footer content */
}